* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    color: #fff;
    background: #17181c;
    font: 300 1em "Fira Sans", sans-serif;

    min-height: 100vh;
    display: flex;
}
.active{
    color: aqua;
}
#root{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;


}