* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    color: #fff;
    background: #17181c;
    font: 300 1em "Fira Sans", sans-serif;
    min-height: 100vh;
    display: flex;
}

#root{
    width: 75vw;
    height: fit-content;
    display: flex;
    zoom: 150%;


    align-items: center;
    flex-direction: column;
}
.Head{
    margin: 0 20px 20px 20px;
    display: flex;
    border-bottom: 1px solid #f8d5c0;
    padding-left: 35%;
    padding-right: 35%;



}
.URL{
    padding: 15px;
    background: none;
    margin: 0.5em;
    text-decoration: none;
    color: rgba(145, 170, 218, 0.87);

}
.HomePage{
    margin: 70px;
}
.active{
    color: #f8d5c0;

}
.foot{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
    text-align: center;
}

.chat{
    position: absolute;

    bottom: 0;
background-color: #5d5d5d;

    text-align: center;

    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 15px;
    padding: 20px 20px 20px 20px;
}

.knopk{
    color: #5d5d5d;
    background: none;

}