.Log {
    border: 0 solid;
    box-shadow: 0 4px 8px 0 rgba(248, 213, 192, 0.6), 0 6px 20px 0 rgba(248, 213, 192, 0.6);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 200px;
    margin: 70px;


}
.Input{
    box-shadow: 0 4px 8px 0 rgba(248, 213, 192, 0.4), 0 6px 20px 0 rgba(248, 213, 192, 0.4);

    text-align: center;
    border: 2px;
    background-color: #3f3f3f;
    color: white;
}

.slide:hover,
.slide:focus {
    box-shadow: inset 6.5em 0 0 0 var(--hover);
}
.slide {
    transition: 0.5s;
    --color: #601c1c;
    --hover: #801e1e;
    border-color: var(--hover);

}

.LogButton:hover,
.LogButton:focus {
    box-shadow: inset 8em 0 0 0  var(--hover);
    color: #ffffff;
}
.LogButton {

    transition: 0.5s;
    --color: #ffffff;
    --hover: rgba(248, 213, 192, 0.6);
    border-color: var(--hover);
    color: #fff;
    background: none;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
 }

.pa{
    color: #ffffff;
}
